/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

.container {
  padding: 10px 20px;
}

.container.error {
  background-image: url('../img/error.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: center;
  height: 100vh;
}

ul {
  list-style-type: none;
}

/* ________ HEADER ________ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

/* Logo */
.logo img {
  width: 200px;
}

/* Search Bar */
.search-bar {
  background-color: black;
  padding: 10px;
}
.search-bar .search-or-start {
  display: flex;
}
.search-bar .search-or-start span {
  font-size: 25px;
  vertical-align: middle;
  margin: 0 15px;
  color: #b0b0b0;
  align-self: center;
  cursor: pointer;
}
.search-bar .search-or-start input {
  font-size: 16px;
  padding: 10px 15px;
  border:none;
  box-shadow: none;
  outline-color: #e60109;
  background-color:transparent;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* ________ MAIN ________ */
/* Media List */
.media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

/* TEMPLATE MEDIA */
.this-media {
  padding: 20px;
  flex-basis: calc(100% / 5);
  height: 700px;
}
.this-media .description {
  padding-bottom: 20px;
}

.this-media .poster-path {
  position: relative;
}
.this-media .poster-path img {
  border: 1px solid white;
}

.this-media .media-description {
  background-color: black;
  border: 1px solid white;
  position: absolute;
  padding: 40px 20px;
  width: 100%;
  height: 95.7%;
  top: 0;
  left: 0%;
  overflow-y: auto;
  display: none;
  transition:all 0.25s ease-in;
}
.this-media .poster-path:hover .media-description {
  display: block;
  animation: wiggle 1s ease;
  animation-iteration-count: 1;
}
@keyframes wiggle {
  0%  {
    transform: translateY(60%);
  }
  40%  {
    transform: translateY(-4px);
  }
  60%  {
    transform: translateY(2px);
  }
  80%  {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}

.this-media .media-description .title {
  padding-bottom: 30px;
  font-size: 35px;
}

.this-media .media-description .vote {
  color: yellow;
}

.this-media .media-description .tipology {
  color: red;
}

/* TEMPLATE MESSAGE ERROR */
.message-error {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
